<div class="my-6 flex justify-center overflow-hidden">
    <!-- Sidebar Rectangle -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6338098936198791"
         data-ad-slot="9876543210"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
