{% extends 'base.html.twig' %}

{% block body %}
    <div class="mb-8">
        <h1 class="text-3xl font-display font-bold text-navy dark:text-white">Administration</h1>
        <p class="text-gray-500">Gestion de la plateforme SmartNexus</p>
    </div>

    {% block admin_content %}{% endblock %}
{% endblock %}
