{% extends 'back_office/base.html.twig' %}

{% block title %}Gestion des Réclamations - SmartNexus AI{% endblock %}

{% block breadcrumb %}
    <span class="text-[#9ca3af] material-symbols-outlined text-[16px]">chevron_right</span>
    <span class="text-primary font-semibold">{% block page_title %}Gestion Réclamations{% endblock %}</span>
{% endblock %}

{# 
   The content block bubbles up automatically to back_office/base.html.twig.
   The child templates (index, show, edit) define {% block content %}, 
   which will now populate the main content area of the standardized admin layout.
#}
